@mixin flexbox-center {
  display: flex;
  align-items: center;
}

@mixin button-style {
  color: var(--text-color);
  background-color: var(--button-color);
  border: none;
  padding: 0.5em;
  text-decoration: none;
  margin: 0.5em 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: 6px;
}

@mixin button-style-mobile {
  @media (max-width: 768px) {
    margin-left: 5px;
  }
}

@mixin category-heading-style {
  color: var(--link-color);
}

@mixin article-header-categories-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin title-categories-style {
  display: flex;
  align-items: center;
}
