/* Colors */
:root {
  --primary-color: #282c34;
  --secondary-color: #f50057;
  --background-color: #f5f5f5;
  --text-color: black;
  --button-color: #888;
  --link-color: #3f51b5;
  --favorite-color: #ff6347;
}

/* Typography */
:root {
  --font-family: Arial, sans-serif;
}

/* Body styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  padding-left: 6px;
}

/* Headings */
h1 {
  color: var(--primary-color);
  padding-left: 6px;
}

h2 {
  color: var(--secondary-color);
  padding-left: 6px;
}

/* Form input */
input[type="text"] {
  width: 80%;
  padding: 0.5em;
  margin: 0.5em auto;
  display: block;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding-left: 6px;
}

/* Buttons */
button {
  color: var(--text-color);
  background-color: var(--button-color);
  border: none;
  padding: 0.5em;
  text-decoration: none;
  margin: 0.5em 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: 6px;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  padding-left: 6px;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  padding-left: 6px;
}

li {
  padding: 0.5em 0;
  border-bottom: var(--primary-color) solid 1px;
  padding-left: 6px;
}

/* Additional styles */
.favorites {
  color: var(--favorite-color);
  padding-left: 6px;
}

.article-header {
  display: flex;
  align-items: center;
}

.article-action {
  margin-left: 10px;
}
