@import "./components/utils/mixins";
/* Colors */
:root {
  --primary-color: #282c34;
  --secondary-color: #f50057;
  --background-color: #f5f5f5;
  --text-color: black;
  --button-color: #888;
  --link-color: #3f51b5;
  --favorite-color: #ff6347;
}

/* Typography */
:root {
  --font-family: Arial, sans-serif;
}

/* Body styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  padding-left: 6px;
}

/* Headings */
h1 {
  color: var(--primary-color);
  padding-left: 6px;
}

h2 {
  color: var(--secondary-color);
  padding-left: 6px;
}

/* Form input */
input[type="text"] {
  width: 40%;
  padding: 0.5em;
  margin: 0.2em 0;
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 20px; /* Adjust the value to control the oval shape */
  outline: none;
  transition: border-color 0.3s ease;
  font-size: 1rem;
  color: var(--text-color);
}

input[type="text"]:focus {
  border-color: #be29ec;
}

input[type="text"]::placeholder {
  color: var(--primary-color);
}

input[type="text"]::-webkit-input-placeholder {
  color: var(--primary-color);
}

input[type="text"]::-moz-placeholder {
  color: var(--primary-color);
  opacity: 1;
}

input[type="text"]:-ms-input-placeholder {
  color: var(--primary-color);
}

input[type="text"]::placeholder-shown {
  font-style: italic;
}

/* Buttons */
button {
  @include button-style;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  padding-left: 6px;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  padding-left: 6px;
}

li {
  padding: 0.5em 0;
  border-bottom: var(--primary-color) solid 1px;
  padding-left: 6px;
}
