@import "../utils/mixins";

.categories-heading {
  color: var(--link-color);
}

.article-header.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title.categories {
  display: flex;
  align-items: center;
}

.return-home-button {
  @include button-style;
  @include button-style-mobile;
}
