@import "../utils/mixins";

.article-header {
  @include flexbox-center;
}

.article-action {
  @include button-style;
  border-radius: 10px;
  margin-left: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
