.latest-news {
  border-top: #080210;
  background-color: #f26822;
  color: #ccc;
  h1 {
    color: #080210;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.5em 0;
      border-bottom: 1px solid brown;
      h3 {
        color: #080210;
      }
    }
  }
}
